h2{
    background: linear-gradient(to top, #F8F8FF, #6495ED);
    width: 300px;
    border-radius: 30%;
    text-align: center;
    margin: auto;
}
body{
    text-align: center;
    background-color: lavender;
}